/* #f79721 NARANDZASTA */

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
@font-face {
  font-family: 'semi-bold';
  src: url('../fonts/SourceSansPro-Semibold.otf');
}
@font-face {
  font-family: 'lemon-milk';
  src: url('../fonts/LemonMilk.otf');
}
@font-face {
  font-family: 'extra-light';
  src: url('../fonts/SourceSansPro-ExtraLight.otf');
}
@font-face {
  font-family: 'light';
  src: url('../fonts/SourceSansPro-Light.otf');
}
@font-face {
  font-family: 'regular';
  src: url('../fonts/SourceSansPro-Regular.otf');
}

body {
    background-color: #fff;
}
.container {
    max-width: 1050px;
    height: 100%;
    margin: 0 auto;
}



/* HEADER AND DEFAULT STUFF */


header {
    background-color: #fff;
    height: 120px;
    width: 100%;
    z-index: 10000;
    position: fixed;
}
.head-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo {
    margin-left: 30px;
}

nav ul li {
    list-style: none;
    margin-left: 20px;
    display: inline-block;
}
nav ul li:last-of-type {margin-right: 30px;}
nav ul li a {
    color: #f79721;
    font-family: 'semi-bold';
    font-size: 24px;
    text-decoration: none;
    transition: 0.3s;
    padding: 7px 15px;
    border: 2px solid #f79721;
    border-radius: 300px;
}
nav ul li a:hover {
    background-color: #f79721;
    color: #fff;
}

.section-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid-slike {
    display: grid;
    grid-template-columns: repeat(2, 240px);
    grid-template-rows: repeat(2, 240px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.podnaslov {
    display: inline-block;
    font-family: 'lemon-milk';
    font-size: 45px;
    color: #f79721;
    border: 6px solid #f79721;
    padding: 5px 40px;
}

.paragraf {
    font-family: 'light';
    font-size: 23px;
    text-align: justify;
    margin-top: 25px;
}

/* INDEX */


.headline {
    text-align: center;
    margin: 50px 0;
}
.headline h1 {
    display: inline-block;
    font-family: 'lemon-milk';
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
    border-bottom: 3px solid #f79721;
}
.headline p {
    font-family: 'extra-light';
    font-size: 40px;
    letter-spacing: 10px;
}

/* SEKCIJA 1 */

.img1 { grid-area: 1 / 1 / 2 / 2; }
.img2 { grid-area: 1 / 2 / 2 / 3; }
.img3 { grid-area: 2 / 1 / 3 / 2; }
.img4 { grid-area: 2 / 2 / 3 / 3; }

.price-img {
    width: 100%;
    height: 100%;
}

.home-tekst {
    width: 500px;
    text-align: center;
    padding: 20px;
}

.icon {
    margin: 50px auto;
    display: block;
}

/* SEKCIJA 2 */

.polje-img { width: 100%; height: 100%; }
.polje1 { grid-area: 1 / 1 / 2 / 3; }
.polje2 { grid-area: 2 / 1 / 3 / 3; }

/* SEKCIJA 3 */


.dugme {
    display: inline-block;
    color: #f79721;
    font-family: 'semi-bold';
    font-size: 24px;
    text-decoration: none;
    transition: 0.3s;
    padding: 7px 15px;
    border: 2px solid #f79721;
    border-radius: 300px;
    margin-top: 70px;
    text-transform: uppercase;
}
.dugme:hover {
    background-color: #f79721;
    color: #fff;
}

/* SHOP */

.head-img{
    padding-top: 120px;
    display: block;
    width: 100%;
    height: auto;
    box-sizing: content-box;
    margin-bottom: 50px;
}

.valute{
  margin-bottom:50px;
}

.valute p {
    display:block;
    color: #f79721;
    font-family: 'semi-bold';
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom:5px;
}

.valuta {
    display: inline-block;
    color: #f79721;
    font-family: 'semi-bold';
    font-size: 24px;
    padding: 7px 15px;
    border: 2px solid #f79721;
    text-transform: uppercase;
    cursor: pointer;
    margin-right:-6px;
    transition: 0.3s;
}
.valuta:first-of-type {
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
}
.valuta:last-of-type {
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
}
.valuta:hover {
    background-color: #f79721;
    color: #fff;
}
.shop-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.proizvod {
    text-align: center;
}
.proizvod .proizvod-naziv {
    margin-top: 20px;
    color: #f79721;
    font-size: 30px;
    font-family: 'regular';
    text-transform: uppercase;
}
.cena {
    color: #000;
    font-size: 30px;
    font-family: 'light';
    text-transform: uppercase;
}

.proizvod a {
    display: inline-block;
    color: #f79721;
    font-family: 'semi-bold';
    font-size: 24px;
    text-decoration: none;
    transition: 0.3s;
    padding: 7px 15px;
    border: 2px solid #f79721;
    border-radius: 300px;
    text-transform: uppercase;
    margin-top: 20px;
}
.proizvod a:hover {
    background-color: #f79721;
    color: #fff;
}
.kontakt-btn {
    margin-top: 20px;
}


/* KONTAKT */

.informacije {
    width: 500px;
    padding: 20px;
}
.info {
    margin-top: 30px;
}
.info-deo {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.info-deo img {
    width: 40px;
    height: 40px;
    display: block;
    margin-right: 10px;
}
.info-deo .info-tekst {
    font-size: 23px;
    font-family: 'regular';
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f79721;
    height: 90px;
    margin-top: 120px;
    
}
footer p {
    font-size: 18px;
    color: #fff;
    font-family: 'regular';
    margin: 0 20px;
}
.social-img a {
    margin-right: 10px;
}

/* HAMBURGER */

#menu{
    width: 50px;
    height: 50px;
    margin: 30px;
    display: none;
}
.ham-nav {
    position: fixed;
    top: 120px;
    background-color: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    transform: translateY(-60px);
    transition: 0.3s;
}
.toggle {
    transform: translateY(0);
}
.ham-nav a {
    text-decoration: none;
    font-size: 18px;
    color: #f79721;
    margin-left: 20px;
    padding: 7px 15px;
    border: 2px solid #f79721;
    border-radius: 300px;
    font-family: 'semi-bold';
    
}

@media screen and (max-width:1050px) {
    .section-wrap {
        display: block;
        max-width: 500px;
        margin: 0 auto;
    }
    .shop-row {
        justify-content: center;
    }
    .javite .container .shop-row {
        display: block;
        max-width: 500px;
        margin: 0 auto;
    }
    .proizvod:first-child {
        margin-right: 50px;
    }
    .valute-wrap {
        width: 500px;
        text-align: center;
        margin: 0 auto;
    }
    .proizvod img {
        width: 300px;
    }
    .proizvod {
        text-align: center;
        width: 300px;
        padding-bottom: 50px;
    }
    .proizvod .proizvod-naziv, .cena {
        font-size: 24px;
    }
    .informacije {
        text-align: center;
    }
    .info {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }
    .grid-slike {
        margin: 50px 0;
    }
    .javite-slike img {
        margin-bottom: 50px;
    }
}

@media screen and (max-width:830px) {
    .head-wrap nav {
        display: none;
    }
    #menu {
        display: block;
    }
    .shop-row {
        display: block;
        max-width: 300px;
        margin: 0 auto;
    }
}
@media screen and (max-width:600px) {
    #jssor_1 {
        opacity: 0;
        height: 100px !important;
    }
    .podnaslov {
        font-size: 30px;
        padding: 5px 25px;
    }
    .paragraf {
        font-size: 18px;
    }
    .logo {
        height: 60px;
    }
    .headline h1, .headline p {
        font-size: 30px;
    }
    .section-wrap {
        max-width: 300px;
        margin: 0 auto;
    }
    .informacije {
        width: 300px;
    }
    .devojka {
        width: 300px;
    }
    .grid-slike {
        grid-template-columns: repeat(2, 140px);
        grid-template-rows: repeat(2, 140px);
    }
    .home-tekst {
        width: 300px;
        margin: 0 auto;
    }
    .info-deo .info-tekst {
        font-size: 18px;
    }
    .javite-slike img {
        display: none;
    }
     .valute-wrap {
        width: 300px;
         margin: 0 auto;
    }
    .valute {
        width: 300px;
        
    }
    footer {
        display: block;
        text-align: center;
        height: 110px;
    }
    footer p {
        padding-top : 20px;
    }
}
/* VIEWPORTS 






@media screen and (max-width:1050px) {
.proizvodi{
  width:95%;

}
.proizvodi img{
  width:100%;
  height:auto;
}

.proizvod{
  width:47.5%;
  margin-right:5%;
  height:auto;
  margin-bottom:5%;
}
.desni-pro {
    margin-right: 0%;
}

.slikashop{
  margin-bottom:2%;
  padding-top:12%;
}
.proizvod .proizvod-naziv{
  font-size:4vw;
}
.cena{
  font-size:4vw;
}

.javite{
  width:95%;
  height:auto;
}

.javite-slike{
  width:47.5%;
  height:auto;
}
.javite-slike img{
  width:100%;
  height:auto;
}
.kontaktirajte{
  width:47.5%;
  margin-left:5%;
  height:auto;
}
.Jpodnaslov{
font-size:4vw;
}
.Jparagraf{
  font-size:3vw;
}
 }



@media screen and (max-width: 990px) {

.dom-tekst{
  margin-right: 3.2%;
  width:53.2%;
  height:auto;
}
.prica-tekst{
 margin-left: 3.2%;
 width:53.2%;
 height: auto;

}
 .prica {
  width: 95%;
  margin: 0 auto;
  height:auto;
}

 .med {
  width: 95%;
  margin: 0 auto;

}

.dom{
  width: 95%;
  margin: 0 auto;

}

.dom-slike{
  width:42.5%;
  height:auto;
}
.dom-slike img {
    width: 100%;
    height: auto;
    margin-top: 5%;
}
.dom-slike img:first-child {
    margin-top: 0;
}

.prica-slike{
  width:42.5%;
  height:auto;
}
.prica-slike img {
    width: 47.5%;
    height: 47.5%;
    margin: 0 5% 5% 0;
}
.prica-slike img:nth-child(2) {
    margin: 0 0 5% 0;
}
.prica-slike img:nth-child(3) {
    margin: 0 5% 0 0;
}
.prica-slike img:nth-child(4) {
    margin: 0;
}

.paragraf{
  font-size: 2.5vw;
  margin-top:5%;
}

.podnaslov{
  font-size: 4.5vw;
}



/* Shop 

}

@media screen and (max-width:680px) {
.ham-nav{
  display:block;
  margin-top:15px;
  margin-bottom:10px;
}
nav{
  display:none;
}
.headline h1{
  font-size:6vw;
}

.headline p{
  font-size:6vw;
}
.logo{
  height: 60px;
  width:auto;
}
.Jparagraf{
  margin-top:2%;
  font-size:3vw;
}

.kontakt-str{
  width:80%;
}
.Kpodnaslov{
   font-size:3.5vw;
}
div.social h3{
font-size: 2.8vw;
}
.info-deo .info-tekst {

font-size: 2vw;
}
.info-deo img {
 width: 30px;
}
.info-tekst{
  margin:0;
}

.valute p{
    font-size: 3vw;
}

.valuta{
    font-size: 4vw;
}


}

@media screen and (max-width:580px) {
.prica-tekst{
  width:100%;
  margin:0 auto;
  float:none;
}
.prica-slike{
  width:100%;
  margin:0px auto;

}
.paragraf{
  width:80%;
  margin:0 auto;
  font-size:6vw;

}
.headline{
  margin-top:10px;
  margin-bottom:10px;
}
h2.podnaslov{
  margin-bottom: 10px;
  font-size: 6.5vw;
}

.dom-slike{
  width:100%;
  margin-top:10px;
}
.dom-tekst{
  width:100%;
}
.dugme{
  float:none;
  font-size:10vw;
}
.javite-slike{
  width:100%;
}
.kontaktirajte{
  width:100%;
  margin-left:0;
}

.Jparagraf{
  width:80%;
  margin:0 auto;
  margin-top:20px;
  font-size:6vw;
}
.Jpodnaslov{
  font-size:250%;
}

.kontakt-str .devojka{
  width:100%;
}
.Kpodnaslov{
 font-size: 7.5vw;
  }
.info-deo .info-tekst {
 width: 330px;
 font-size:4vw;
}
.social{
  width:100%;
}
.social-img{
  margin: 10px;
}
.mapa{
  margin-bottom:20px;
}

.valute p{
    font-size: 3.3vw;
}

.valuta{
    font-size: 4vw;
}

}

@media screen and (max-width:375px) {

.logo{
    height:50px;
  }
.ham-nav{
    margin-top:5px;
    margin-bottom:5px;
  }
footer{
  margin-top:45px;
}
.ikona{
  width:120px;
  padding:25px 0;
}

.proizvod{
  width:100%;
}

.valute p{
    font-size: 4vw;
}

.valuta{
    font-size: 4vw;
}
.cena{
  font-size:7vw;
}

.proizvod .proizvod-naziv{
  font-size:6vw;
}

}
*/
