* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'reg';
    src: url('../fonts/MinionPro-Regular.otf')
}

body {
    font-family: 'reg';
    color: #fff;
    font-size: 10px;
}
.container {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}
.background {
    background-image: url('../img/tom.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    transition: 0.5s;
}

/* NAVIGATION */

nav {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    z-index: 10000;
}
.nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-cl {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.nav-cl ul {
    width: 400px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-cl ul li a {
    border-bottom: 2px solid rgba(170,170,170, 0);
    text-decoration: none;
    font-size: 260%;
    text-transform: uppercase;
    transition: 0.3s;
    padding-bottom: 5px;
    color: #fff;
}
.nav-cl ul li a:hover {
    border-bottom: 2px solid rgba(170,170,170, 1);
    color: #aaa;
}
.nav-sc ul {
    width: 220px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-sc ul li a img {
    transition: 0.3s;
    border-radius: 50%;
}
.nav-sc ul li a img:hover {
    background-color: #aaa;
}

#menu {
    display: none;
    cursor: pointer;
}

/*--------
 PODNASLOVI 
---------*/

h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 350%;
    text-transform: uppercase;
}
h2:after {
    display: block;
    height: 3px;
    background-color: #fff;
    content: "";
    width: 350px;
    margin: 25px auto 50px auto;
}

/*--------
 INDEX  
---------*/

/*--------------
     HEADER
--------------*/
.index-bg {background-image: url("../img/index-header.gif");}
.band-bg {background-image: url("../img/band-header.jpg"); background-position: right;}
.shop-bg {background-image: url("../img/shop-header.png");}

header {
    height: 100vh;
    max-width: 1920px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}
.index-head-text {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.index-head-text h1 {
    font-size: 100px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.index-head-text a {
    background-color: rgba(170, 170, 170, 0);
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 300%;
    border: solid 2px #fff;
    border-radius: 300px;
    padding: 15px 20px 10px 20px;
    transition: 0.3s;
    text-transform: uppercase;
}
.index-head-text a:hover {
    background-color: rgba(170, 170, 170, 1);
}
/*--------
 TOUR 
---------*/

.section {
    width: 100%;
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.75);
}
.tour-wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 50px;
}
.tour-dates ul li, .tour-tickets ul li {
    list-style: none;
    font-size: 240%;
    padding-bottom: 20px;
    letter-spacing: 1px;
}
.tour-tickets {
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.tour-tickets ul li a {
    color: #aaa;
    text-decoration: none;
    transition: 0.3s;
}
.tour-tickets ul li a:hover {
    color: #fff;
}

/*--------
 ALBUM REKLAMA 
---------*/


.latest-wrap {
    text-align: center;
    padding-bottom: 50px;
}
.latest-wrap img {
    border: solid 10px #1f1521;
    margin-bottom: 30px;
}
.latest-wrap .button a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 300%;
    border: solid 2px #fff;
    background-color: #1f1521;
    border-radius: 300px;
    padding: 15px 20px 10px 20px;
    transition: 0.3s;
}
.latest-wrap a:hover {
    background-color: #aaa;
}

/*--------
   NEWS 
---------*/

.news {
    padding: 100px 0;
}
.news::after {
    content:'';
    display: block;
    clear: both;
}
.news-part {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}
.news-part img {
    margin-right: 30px;
}

.quote {
    font-size: 250%;
    margin-bottom: 20px;
}
.quote span.it {
    font-style: italic;
}
.new-text {
    text-align: justify;
    font-size: 170%;
    margin-bottom: 20px;
}
.button-news a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 200%;
    border: solid 2px #fff;
    background-color: #1f1521;
    border-radius: 300px;
    padding: 13px 20px 10px 20px;
    transition: 0.2s;
}
.button-news a:hover {
    background-color: #aaa;
}



/* - - - - -
   MUSIC CSS
 - - - - - */

.parent {
    display: grid;
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: 450px;
    grid-column-gap: 30px;                                  /*   GRID   */
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.cover1 { grid-area: 1 / 1 / 2 / 2; }
.cover2 { grid-area: 1 / 2 / 2 / 3; }
.cover3 { grid-area: 1 / 3 / 2 / 4; }

.music {
    height: 100vh;
    width: 100%;
}

.album {
    width: 450px;
    height: 450px;
    box-shadow: 15px 15px 10px 0px rgba(0,0,0,0.70);
    cursor: pointer;
    
}
.cover1 {background-image: url("../img/music-img/antfarm-cover.jpg");}
.cover2 {background-image: url("../img/music-img/echo-cover.jpg");}
.cover3 {background-image: url("../img/music-img/purg-cover.jpg");}

.album-set {
    width: 100%;
    height: 100%;
    padding: 25px;
    text-align: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}
.hidden {                /*   <----------------------    Hide, Show on click   */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
.album-wrap {
    display: flex;
    text-align: left;
    justify-content: space-between;
}
.album-wrap ul li {
    font-size: 200%;
    color: #fff;
    line-height: 36px;
    list-style: none;
}
.album a {
    background-color: rgba(170, 170, 170, 0);
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 230%;
    border: solid 2px #fff;
    border-radius: 300px;
    padding: 15px 20px 10px 20px;
    transition: 0.3s;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.album a:hover {
    background-color: rgba(170, 170, 170, 1);
}
.album:last-of-type a:hover {
    cursor: default;
    background-color: rgba(170, 170, 170, 0);
}
.album p {
    font-size: 150%;
    margin-top: 15px;
    position: absolute;
    bottom: 10px;
    transform: translate(-50%, -50%);
    left: 50%;
}


/* - - - - -
  BAND
 - - - - - -*/
.head-btn {
    font-size: 60px;
    color: #fff;
    border: solid 8px #1f1521;
    padding: 50px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 40%;
    left: 30%;
}
.head-btn:hover {
    padding: 80px;
    color: #1f1521;
}
.choose-member {
    margin: 50px 0;
}
.stripe-wrap {
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.strip {
    width: 250px;
    height: 750px;
    overflow: hidden;
    box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.60);
    position: relative;
}
.scale {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1) blur(0);
    transition: 0.5s;
    display: inline-block;
}
.strip .member-img1 {background-image: url("../img/toma%20stripe.jpg");}
.strip .member-img2 {background-image: url("../img/nebojsa%20stripe.jpg");}
.strip .member-img3 {background-image: url("../img/igor%20stripe.jpg");}
.strip .member-img4 {background-image: url("../img/vladan%20stripes.jpg");}

.strip .member {
    color: #fff;
    font-size: 280%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s;
    text-transform: uppercase;
    pointer-events:none;
}
.strip .scale:hover {
    filter: grayscale(0.3) blur(3px);
    transform: scale(1.05);
}
.strip:hover .member {
    opacity: 1;
}


/* --------------
    ABOUT SECTION
   -------------- */

.member-section {
    background-color: rgba(0, 0, 0, 0.75);
    height: 700px;
    margin-top: 100px;
}
.member-wrap {
    display: flex;
    justify-content: center;
}
.member-wrap img {
    margin: 0 25px;
    display: block;
}
.member-wrap ul {
    display: inline-block;
}
.member-wrap ul li {
    font-size: 250%;
    line-height: 40px;
    list-style: none;
}

/* --------------
     ABOUT BAND
   -------------- */

#about-maera {
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('../img/band-header.jpg');
    background-size: cover;
    background-position: right;
    height: 800px;
    position: relative;
}

.band-wrap {
    text-align: center;
    margin: 0 auto;
}
.band-wrap p {
    font-size: 200%;
    text-align: justify;
    margin-top: 70px;
}



/* - - - - - 
    SHOP
- - - - - - */

.shop1 {
    width: 100%;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.50);
    margin-top: -4px;
}
.shop2 {
    width: 100%;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.50);
}
.shop3 {
    width: 100%;
    height: 750px;
    background-color: rgba(0, 0, 0, 0.50);
}
.buttons {
    transform: translate(-50%, 0);
    position: absolute;
    left: 50%;
}
.color-button {
    float: left;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    font-size: 30px;
    border: solid 2px #fff;
    border-radius: 300px;
    padding: 15px 0 10px 0;
    transition: 0.3s;
    cursor: pointer;
    margin: 20px 30px 0 0;
}
.color-button:last-child {
    margin-right: 0;
}
.color-button:hover {
    background-color: #aaa;
}

.shop-wrap {
    max-width: 1260px;
    margin: 150px auto 100px auto;
}
.third {
    margin: 50px auto 70px auto;
}
.fourth {
    margin: 50px auto 70px auto;
}
.artical {
    width: 280px;
    float: left;
    text-align: center;
    margin-right: 40px;
}
.last {
    margin-right: 0;
}
.artical p {
    font-size: 250%;
    margin-bottom: 10px;
}
.shop-button a {
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    font-size: 30px;
    border: solid 2px #fff;
    border-radius: 300px;
    padding: 15px 0 10px 0;
    transition: 0.3s;
}
.shop-button a:hover {
    background-color: #aaa;
}
/*--------------
     FOOTER
---------------*/

footer {
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: #000;
    text-align: center;
}

footer p {
    padding-top: 30px;
    font-size: 130%;
}
.credits {
    font-size: 110%;
    padding-top: 10px;
}


/* ---------

RESPONSIVE

-----------*/
