header {
  z-index: 3;
  margin: 0 auto;
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 15vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
}

header #logo {
  height: 76px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

header ul li a {
  margin: 0 1rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px rgba(170, 170, 170, 0);
}

header ul li a:hover {
  color: #aaaaaa;
  border-bottom: solid 1px #aaaaaa;
}

header .social li a {
  margin: 0 0.5rem;
  border-radius: 50%;
  height: 3.5rem;
}

header .social li a img {
  height: 3.5rem;
}

header .social li a:hover {
  background: #aaaaaa;
}

.main-nav {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
}

.mobile-nav {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  text-align: center;
  height: 100vh;
  min-width: 30%;
  position: fixed;
  top: 15vh;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
}

.mobile-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mobile-nav ul li {
  margin: 3rem;
}

.mobile-nav ul li:after {
  content: "";
  background: white;
  width: 200px;
}

.mobile-nav .social {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.mobile-nav .social li {
  margin: 1rem;
}

.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer {
  min-height: 10vh;
  width: 100%;
  background: black;
}

@font-face {
  font-family: "Minion Pro";
  src: url("../fonts/MinionPro-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Minion Pro", serif;
  background: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

h1 {
  font-size: 2.5rem;
}

button,
label,
input,
li,
p {
  font-size: 1.8rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3.5rem;
  text-align: center;
  padding-top: 2.5rem;
}

h3:after {
  display: block;
  height: 0.2rem;
  background-color: #fff;
  content: "";
  width: 35rem;
  margin: 2.5rem auto 5rem auto;
}

h4,
h5,
a,
li {
  font-size: 2.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
  display: inline-block;
}

a:hover {
  color: #aaaaaa;
}

.button {
  background: rgba(170, 170, 170, 0);
  padding: 1.5rem 2rem 1rem 2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid white;
  display: inline-block;
  border-radius: 10rem;
}

.button:hover {
  background: #aaaaaa;
}

.intro {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/index-header.gif");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.intro a {
  color: white;
  cursor: pointer;
}

.tour {
  background: rgba(0, 0, 0, 0.9);
  padding: 5rem 10%;
  margin: 0 auto;
}

.tour-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 2.5rem;
}

.release {
  background: rgba(0, 0, 0, 0.9);
  padding: 5rem 10%;
  margin: 10rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-aroun;
  -ms-flex-pack: space-aroun;
  justify-content: space-aroun;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.release img {
  border: solid 10px #1f1521;
  display: block;
  margin-bottom: 2.5rem;
}

.release a {
  display: inline-block;
  background: #1f1521;
  color: white;
}

.news {
  padding: 5rem 10%;
  margin: 0 auto;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  padding: 3rem 0;
}

.article img {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50rem;
  flex: 1 1 50rem;
  margin-right: 2rem;
}

.article .article-text {
  -webkit-box-flex: 5;
  -ms-flex: 5 1 50rem;
  flex: 5 1 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.article .article-text p {
  margin: 1.5rem 0;
}

.article .article-text a {
  color: white;
}

.albums {
  min-height: 100vh;
  max-width: 150rem;
  margin: 0 auto;
  padding: 20rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(45rem, 1fr)) [auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(45rem, 1fr));
  grid-gap: 2rem;
}

.album {
  width: 45rem;
  height: 45rem;
  place-self: center;
}

.album:nth-of-type(1) {
  background: url("../img/music-img/antfarm-cover.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.album:nth-of-type(2) {
  background: url("../img/music-img/echo-cover.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.album:nth-of-type(3) {
  background: url("../img/music-img/purg-cover.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.album-text:hover {
  opacity: 1;
}

.album-text {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  padding: 2.5rem;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.album-text ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 1rem;
}

.album-text .album-bottom {
  position: absolute;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: 2.5rem;
  left: 50%;
}

.album-text .album-bottom p {
  width: 45rem;
  margin-top: 1.5rem;
}

.album-text .album-bottom a {
  color: white;
  cursor: pointer;
}

.about-hero {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/about-bg.jpg");
  background-size: cover;
  background-position: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.about-hero a {
  color: white;
  font-size: 4rem;
  margin-top: 30rem;
  padding: 2rem 5rem;
  border: 2px solid white;
}

.about-hero a:hover {
  padding: 3rem 6rem;
  border-color: transparent;
}

.members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}

.members .member {
  height: 80vh;
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.members .member img {
  display: block;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.members .member .member-text {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  padding: 2rem;
}

.members .member .member-text ul li {
  margin: 1rem 0;
}

.members .member:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.members .member:hover .member-text {
  opacity: 1;
  color: white;
}

#band-bio {
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.75)),
      to(rgba(0, 0, 0, 0.75))
    ),
    url("../img/about-bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../img/about-bg.jpg");
  background-size: cover;
  background-position: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 30%;
}

#band-bio p {
  text-align: justify;
}

.shop-hero {
  width: 100%;
  height: 100vh;
}

.shop-hero img {
  height: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left;
  object-position: left;
}

.shop-category {
  padding: 5rem 5%;
  text-align: center;
}

.shop-category .color-buttons h5 {
  margin: 0 1rem 2rem 1rem;
  color: white;
  cursor: pointer;
}

.shop-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item {
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 10rem;
  flex: 1 1 10rem;
  padding: 2rem 0;
}

.item img {
  width: 25rem;
}

.item p {
  padding: 1.5rem;
  line-height: 2.5rem;
}

.item a {
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 1390px) {
  .albums {
    max-width: 92rem;
  }
}

@media screen and (max-width: 1245px) {
  .item {
    -webkit-box-flex: 3;
    -ms-flex: 3 1 40rem;
    flex: 3 1 40rem;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
  .social-main {
    display: none;
  }
  header nav .main-nav {
    display: none;
  }
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
  }
  .burger span {
    width: 2rem;
    padding: 0.2rem 1.6rem;
    background: white;
    margin: 0.6rem 0rem;
    display: block;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .toggle .line1 {
    -webkit-transform: rotateZ(45deg) translateY(350%);
    transform: rotateZ(45deg) translateY(350%);
    background: white;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    -webkit-transform: rotateZ(-45deg) translateY(-350%);
    transform: rotateZ(-45deg) translateY(-350%);
    background: white;
  }
  .release img {
    width: 90%;
  }
  .article {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 6rem 0;
  }
  .article img {
    margin: 0 0 2rem 0;
  }
  .members {
    width: 100%;
  }
  .members .member {
    height: 100%;
  }
  #band-bio {
    padding: 0 10%;
  }
}

@media screen and (max-width: 740px) {
  .albums {
    max-width: 45rem;
    padding: 30rem 0;
  }
}

@media screen and (max-width: 640px) {
  .members {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .members .member {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30rem;
    flex: 1 1 30rem;
  }
  .shop-hero {
    display: none;
  }
  .shop-items:first-of-type {
    padding-top: 12rem;
  }
}

@media screen and (max-width: 478px) {
  html {
    font-size: 40%;
  }
  .members {
    -ms-flex-wrap: no-wrap;
    flex-wrap: no-wrap;
  }
  .members .member img {
    height: 50vh;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
  }
}
/*# sourceMappingURL=style.css.map */
