$header1: 2.5rem;
$header2: 5rem;
$header3: 3.5rem;
$header4: 2.5rem;
$text: 1.8rem;
$background-color: #1f1521;
$hover-color: rgba(170, 170, 170, 1);

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
header {
  z-index: 3;
  margin: 0 auto;
  padding: 0 10%;
  @include flex(space-between, center, row);
  flex-wrap: nowrap;
  width: 100%;
  min-height: 15vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  #logo {
    height: 76px;
  }
  ul {
    @include flex(center, center, row);
  }
  ul li a {
    margin: 0 1rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 1px rgba(170, 170, 170, 0);
  }
  ul li a:hover {
    color: $hover-color;
    border-bottom: solid 1px $hover-color;
  }
  .social li a {
    margin: 0 0.5rem;
    border-radius: 50%;
    height: 3.5rem;
    img {
      height: 3.5rem;
    }
  }
  .social li a:hover {
    background: $hover-color;
  }
}
.main-nav {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}
.mobile-nav {
  transition: all 1s ease;
  transform: translateX(100%);
  text-align: center;
  height: 100vh;
  min-width: 30%;
  position: fixed;
  top: 15vh;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  ul {
    @include flex(center, center, column);
    li {
      margin: 3rem;
    }
    li:after {
      content: "";
      background: white;
      width: 200px;
    }
  }
  .social {
    flex-direction: row;
    li {
      margin: 1rem;
    }
  }
}
.active {
  transform: translateX(0);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  min-height: 10vh;
  width: 100%;
  background: black;
}
@import "global";
@import "home";
@import "music";
@import "about";
@import "shop";
@media screen and (max-width: 1390px) {
  .albums {
    max-width: 92rem;
  }
}
@media screen and (max-width: 1245px) {
  .item {
    flex: 3 1 40rem;
  }
}
@media screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
  .social-main {
    display: none;
  }
  header nav .main-nav {
    display: none;
  }
  .burger {
    position: relative;
    display: block;
    cursor: pointer;
  }
  .burger span {
    width: 2rem;
    padding: 0.2rem 1.6rem;
    background: white;
    margin: 0.6rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }
  .toggle .line1 {
    transform: rotateZ(45deg) translateY(350%);
    background: white;
  }
  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-350%);
    background: white;
  }
  .release img {
    width: 90%;
  }
  .article {
    flex-wrap: wrap;
    padding: 6rem 0;
    img {
      margin: 0 0 2rem 0;
    }
  }
  .members {
    width: 100%;
    .member {
      height: 100%;
    }
  }
  #band-bio {
    padding: 0 10%;
  }
}
@media screen and (max-width: 740px) {
  .albums {
    max-width: 45rem;
    padding: 30rem 0;
  }
}
@media screen and (max-width: 640px) {
  .members {
    flex-wrap: wrap;
    .member {
      flex: 1 1 30rem;
    }
  }
  .shop-hero {
    display: none;
  }
  .shop-items:first-of-type {
    padding-top: 12rem;
  }
}
@media screen and (max-width: 478px) {
  html {
    font-size: 40%;
  }
  .members {
    flex-wrap: no-wrap;
    .member img {
      height: 50vh;
      object-fit: cover;
      object-position: top;
    }
  }
}
