* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-image: url('../img/tom.jpg');
    font-family: 'reg';
    color: #fff;
    position: relative;
    font-size: 10px;
}





.background {
    background-image: url('../img/tom.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

/*--------------
     HEADER
---------------*/


.head {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    z-index: 10000;
    top: 0;
}
.levi {
    float: left;
    width: 25%;
}
.wrap {
    float: left;
    width: 50%;
}
.desni {
    float: right;
    width: 25%;
}
#logo {
    height: 74px;
    margin: 13px auto;
    display: block;
}

/* NAVIGATION */


nav.social {
    margin: 0 auto;
    display: block;
    width: 210px;
    height: 100px;
}
nav.social ul li {
    float: left;
    list-style: none;
}
nav.social ul li a img {
    width: 32px;
    margin: 34px 10px 34px 0;
    transition: 0.25s;
    border-radius: 50%;
}
nav.social ul li a img#sc {
    margin: 34px 0;
}
nav.social ul li a img:hover {
    background-color: #555;
}

nav.headnav {
    display: block;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 10111;
    position: absolute;
}

nav.headnav ul li {
    float: left;
    list-style: none;
    margin: 0 45px 0 0;
}
nav.headnav ul li:last-of-type {
    margin-right: 0;
}
nav.headnav ul li a {
    border-bottom: 2px solid rgba(170,170,170, 0);
    text-decoration: none;
    font-size: 260%;
    text-transform: uppercase;
    transition: 0.2s;
    padding-bottom: 5px;
    color: #fff;
}
nav.headnav ul li a:hover {
    border-bottom: 2px solid rgba(170,170,170, 1);
    color: #aaa;
}


/*

nav.headnav {
    width: 430px;
    margin: 0 auto;
    display: block;
    height: 100px;
}

*/










.back {
    cursor: default;
    width: 100%;
    height: 100vh;
    display: block;
}
.dva {
    transform: translate(-50%, -50%);
    left: 80%;
    top: 50%;
    position: absolute;
}
.tri {
    transform: translate(-50%, -50%);
    left: 20%;
    top: 50%;
    position: absolute;
}
.jedan {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
}
a#ant .cover {
    width: 450px;
    height: 450px;
    background-image: url('../img/antfarm%20cover%20final.jpg');
    background-size: cover;
}
a#echo .cover {
    width: 450px;
    height: 450px;
    background-image: url('../img/Tamna%20maera%20XC.jpg');
    background-size: cover;
}
a#prog .cover {
    width: 450px;
    height: 450px;
    background-image: url('../img/purgatory%20cover.jpg');
    background-size: cover;
}
.tekst {
    opacity: 0;
    transition: 1s;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6))
}
.ime p {
    font-size: 25px;
    color: #fff;
    line-height: 40px;
}
.ime {
    float: left;
    margin: 20px 0 0 20px;
}
.trajanje {
    float: right;
    margin: 20px 20px 0 0;
}

a#echo:focus .cover .tekst {
    opacity: 1;
}

a#prog:focus .cover .tekst {
    opacity: 1;
}
a#ant:focus .cover .tekst {
    opacity: 1;
}



footer {
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: #000;
}
nav.foot-nav-left {
    margin-left: 100px;
    float: left;
}
nav.foot-nav-left ul li {
    float: left;
    list-style: none;
    margin: 40px 40px 0 0;
}
nav.foot-nav-left ul li:last-child {
    margin-right: 0;
}
nav.foot-nav-left ul li a {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.2s;
    padding-bottom: 5px;
    color: #fff;
}
nav.foot-nav-left ul li a:hover {
    color: #aaa;
}

nav.foot-nav-right {
    float: right;
    margin-right: 90px;
}
nav.foot-nav-right ul li {
    float: left;
    list-style: none;
}
nav.foot-nav-right ul li a img {
    width: 30px;
    margin-right: 10px;
    margin-top: 35px;;
    transition: 0.25s;
    border-radius: 50%;
}
nav.foot-nav-right ul li a img:hover {
    background-color: #555;
}
.foot-text {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    bottom: 0;
    font-size: 130%;
}